In [9]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import csv
import time


data_hotel=[]
counter_page = 0
for page in range(1,4):
  counter_page=+1
  print('scraping page :',page)
  url = f'https://www.pegipegi.com/hotel/semarang/{page}.html/'
  headers = { 'User-Agent': 'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.127 Safari/537.36', "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

  req = requests.get(url, headers = headers)
  soup = BeautifulSoup(req.content, 'html.parser')
  items = soup.find_all('div','listContent')
    
  for it in items:
       try: 
        nama = it.find('div','title').text.replace('\n','').strip()
       except:
        nama= ''

       try:
        alamat = it.find('div','address').text.replace('\n','').strip().replace('Tampilkan Peta','')
       except :
        alamat=''
       
       try :
        fasilitas = it.find('div','fiturText').text.replace('\n','').strip()[1:-1]
       except:
         fasilitas = ''

       try:
          rating = it.find('div','ratingRight').find('span').text.replace('\n','').strip()
       except:
          rating = ''
      
       try:
          impresi = it.find('div','ratingRight').find_all('span')[1].text.replace('\n','')[:-1]
       except:
          impresi = ''
        #harga sblm diskon
       try:
         harga_normal = it.find('div','normalPrice').find('span').text.replace('\n','').strip().replace('Rp','')
       except :
         harga_normal =''

       try : 
        #hemat berapa persen
         hemat = it.find('div','normalPrice').find('b').text.replace('\n','').strip()
       except:
         hemat =''

       try :
         #harga setelah diskon
         harga_diskon = it.find('div', 'diskonPrice').text.replace('\n','').strip().replace('Rp','')
       except:
         harga_diskon='' 
       try:  
        #penawaran untuk hari raya
        limited_offer = it.find('div','note').text.strip()
       except :
        limited_offer = ''

       info_hotel={
              'nama' : nama,
              'alamat' : alamat,
              'rating' : rating,
              'impresi': impresi,
              'harga_normal': harga_normal,
              'hemat': hemat,
              'harga_diskon' : harga_diskon,
              'limited_offer': limited_offer
          }
       data_hotel.append(info_hotel)
       #data_hotel.append([nama, alamat, rating, impresi, harga_normal, hemat, harga_diskon,limited_offer])

df=pd.DataFrame(data_hotel)
df.to_excel('data_hotel.xlsx')

scraping page : 1
scraping page : 2
scraping page : 3

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 498 entries, 0 to 497
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   nama           498 non-null    object
 1   alamat         498 non-null    object
 2   rating         498 non-null    object
 3   impresi        498 non-null    object
 4   harga_normal   498 non-null    object
 5   hemat          498 non-null    object
 6   harga_diskon   498 non-null    object
 7   limited_offer  498 non-null    object
dtypes: object(8)
memory usage: 31.2+ KB

In [8]:
df.isna()

,nama,alamat,rating,impresi,harga_normal,hemat,harga_diskon,limited_offer
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
493,False,False,False,False,False,False,False,False
494,False,False,False,False,False,False,False,False
495,False,False,False,False,False,False,False,False
496,False,False,False,False,False,False,False,False
497,False,False,False,False,False,False,False,False